[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyyaml = "*"
flask = "*"
slack-bolt = "*"
pyopenssl = "*"
ndg-httpsclient = "*"
pyasn1 = "*"
urllib3 = "*"
gunicorn = "*"
requests = "*"

[dev-packages]
pytest = "*"
pytest-mock = "*"
pylint = "*"
autopep8 = "*"

[requires]
python_version = "3.9"
